*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:bisque;
}
.hero{
    position: relative;
    height: 100%;
    width: 100vh;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}
.detail{
    margin-left: 8%;
    margin-top: 15%;
}

.detail h1{
    font-size: 50px;
    color: #212121;
    margin-top: 20px;
}
span{
 color: orange;    
}
.detail p{
    color: #555;
    line-height: 20px;
}
.detail a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #eff4fd;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.images{
width: 100%;
height: 100vh;
justify-content: center;
align-items: center;
}

.images img{
    height: 60%;
    position: relative;
    left: 83%;
    bottom: 48%;
    transform: translateX(-70%);
    transition: bottom 1s,left 1s;
    border-radius: 100%;
    border: 5px solid #1f322c;
}
